$domina-red: rgb(232, 40, 41);
$deceiving-black: rgb(0, 3, 3);
$off-white: rgb(252, 252, 252);

$headings-font-family: 'Open Sans', sans-serif;
$font-family-base: 'Roboto Mono', courier;

$link-color: $domina-red;
$text-color: $deceiving-black;
