<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand my-0 py-0" href="#">
    <img src="/images/logo--h--rw.png" style="height: 20px; width: auto; margin-bottom: 5px">
  </a>
</nav>
