<div class="container-fluid mt-3">
  <div class="box box--small">
    <p>
      Domina fornisce tecnologiche allo stato dell'arte per il monitoraggio, l'investigazione e la
      pubblica sicurezza in ausilio alle operazioni delle forze armate.
    </p>

    <p>
      La nostra filosofia è di adottare le migliori pratiche del settore per produrre soluzioni
      altamente personalizzate, che garantiscono il successo di ogni operazione.
    </p>

    <p>Se sei interessato a lavorare con noi, contattaci.</p>

    <ul class="list-unstyled small">
      <li>
        <span class="text-muted">Tel:</span>
        <a href="tel:+390681157409">+39 (06) 811-57-409</a>
      </li>

      <li>
        <span class="text-muted">Email:</span>
        <a href="mailto:info@dominasistemi.it">info@dominasistemi.it</a>
      </li>
    </ul>
  </div>
</div>
