<div class="container-fluid mt-3">
  <div class="box box--small">
    <p><a href="/it">it</a></p>

    <p>
      Domina provides law enforcement and military organizations with state-of-the-art technology
      for monitoring, investigation and public security.
    </p>

    <p>
      We employ the industry's best practices to produce highly customized solutions that guarantee
      the success of each mission.
    </p>

    <p>Reach out if you're interested in our work.</p>

    <ul class="list-unstyled small">
      <li>
        <span class="text-muted">Phone:</span>
        <a href="tel:+390681157409">+39 (06) 811-57-409</a>
      </li>

      <li>
        <span class="text-muted">E-mail:</span>
        <a href="mailto:info@dominasistemi.it">info@dominasistemi.it</a>
      </li>
    </ul>
  </div>
</div>
