<div class="container-fluid mt-4">
  <img src="/images/logo.svg" class="logo img-fluid mb-2">

  <div class="box box--small">
    <p>
      Domina Sistemi fornisce soluzioni hardware e software allo stato dell'arte per
      l'investigazione, la pubblica sicurezza e l'intercettazione.
    </p>

    <ul class="list-unstyled small">
      <li><span class="text-muted">Tel:</span> <a href="tel:+390681157409">+39 (06) 811-57-409</a></li>
      <li><span class="text-muted">Email:</span> <a href="mailto:info@dominasistemi.it">info@dominasistemi.it</a></li>
    </ul>
  </div>
</div>
