<div class="container-fluid mt-4 text-center">
  <img src="/images/logo.svg" class="logo img-fluid mb-2">

  <div class="constraint constraint--small">
    <p>
      Domina Sistemi fornisce soluzioni hardware e software allo stato dell'arte per
      l'investigazione e la pubblica sicurezza.
    </p>
    <p>
      <a href="mailto:info@dominasistemi.it">info@dominasistemi.it</a> /
      <a href="tel:+390681157409">+39 (06) 811-57-409</a>
    </p>
  </div>
</div>
